* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: 'Poppins', sans-serif;
}

/* NaveBar */
.navbar {
  width: 100%;
  height: 85px;
  position: fixed;
  background: rgb(13, 85, 119);
  z-index: 1;
  top: 0;
}
.navbar__container {
  display: flex;
  height: 85px;
  align-items: center;
  justify-content: space-between;
}

.navbar__right {
  display: flex;
  list-style-type: none;
}

.navbar__right li a {
   text-decoration: none;
   color: #fff;
   font-weight: 500;
   font-size: 16px;
   padding: 0 50px;
   
}
.navbar__right li a:hover {
  color: lightblue;
}
.navbar__left- h1  {
  font-size: 40px;
  color: #fff;
  padding-left: 20px;
}
/* Helpers */
.container {
  width: 1200p;
  margin: 0 auto;
}

/* Grid */

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.33%;
}
/* Header Home Page*/
.header {
  width: 100%;
  height: 100vh;
  background: url("./Components/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  padding-left: 150px;
}
.header__ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 18px;
}

.header__ul li:first-child {
  margin: 0;
}
.type-heading h1 {
  margin-bottom: 25px;
}
.type-heading {
  color: rgb(44, 120, 150);
  font-size: 25px;
  font-weight: 700;
 
}

.type-p {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(44, 120, 150);
  margin-bottom: 50px;
}

.btn {
  outline: none;
  border: none;
  
}

.banner__img {
  padding:  30px;
  margin-top: 230px;
  padding-left: 100px;
}
.banner__img {
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;
}
/* Services */

.services{
  background: rgb(44, 120, 150);
  padding: 100px ;  
}

.common {
  width: 33.33%;
  margin: 5px auto;
  text-align: center;

  
}

.heading {
  margin-bottom: 8px;
  font-weight: 600;
  color:  rgb(2, 51, 73);
  font-size: 18px;
  
}
.mainHeader {
  font-size: 28px;
  margin-bottom: 12px;
  color: rgb(2, 51, 73);
}
.mainContent {
  font-size: 14px;
  color:  rgb(207, 192, 192);
}
.commonBorder{
  background:  rgb(2, 51, 73);
  height: 3px;
  width: 100px;
  margin: 25px auto;
}

.services__box {
  padding: 60px;
  background: rgb(21, 99, 134);
  color: #fff;
  margin: 25px;
  box-shadow: 0 8px 15px rgb(2, 51, 73) ;
}

.services__box:hover {
  background: rgb(2, 51, 73);
  transition: all 0.2s linear;
}

.commonIcons {
  font-size: 40px;
  color:  rgb(2, 51, 73);
  margin-bottom: 10px;
  margin-top: -50px;
}
.services__box:hover .commonIcons {
  color: #fff;
}
.services__box-header {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 25px;
}
.services__box-p {
  font-size: 13px;
  color:  rgb(207, 192, 192);
  line-height: 18px;
 
}
/* SKILLS */
.skills {
  width: 100%;
  padding: 100px 0;
  background: rgb(21, 99, 134);
  height: 100%;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center; 
  border-style: solid;
  background: #fff;
  padding: 20px;
  margin-left: 75px;
  margin-right: 75px;
  border-radius: 30px;
  margin-bottom: 70px;
  margin-top: 60px;
  box-shadow: 0 8px 15px rgb(2, 51, 73) ;
}
.logo-img {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.logo-img h4 {
  text-align: center;
  font-size: 12px;
}
/* Project Page */
.projects {
  width: 100%;
  padding: 100px 0;
  background: rgb(44, 120, 150); 
}
 .project-img{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 }
 h5 {
   color: #fff;
   text-align: center;
   margin-top: 5px;
   
 }
 /* h5:hover {
    color: gray;
 } */
 .img1:hover {
  transform: scale(1.1);
 } 
 .img2:hover {
  transform: scale(1.1);
 }
 .img3:hover {
  transform: scale(1.1);
 }
 .img4:hover {
  transform: scale(1.1);
 }
 .img5:hover {
  transform: scale(1.1);
 }
 .img6:hover {
   transform: scale(1.1);
 } 
  
 .project-img-box {
   padding: 25px ;
   margin-left: 60px;
   margin-bottom: 50px;
   background: rgb(13, 85, 119);
   margin-right: 50px;
   box-shadow: 0 8px 15px rgb(2, 51, 73) ;
 }
 .project-img-box h4 {
   font-size:15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 6px;
   color: #fff;

 }

 /* About Page */
.about {
  width: 100%;
  padding: 100px 0;
  background: rgb(21, 99, 134);
}
.alignCenter {
  align-items: center;
}
.about__img {
  padding: 30px;
  padding-left: 150px;
}
.about__info {
  align-items: center;
  padding-left: 100px;
  padding-right: 150px;
  color: rgb(207, 192, 192);
}
.about__info h1 {
  margin-bottom: 30px;
  color:  rgb(2, 51, 73);
  font-size: 35px;
}
.about__info-p1 {
  font-size: 15px;
  margin-bottom: 20px;
}
.about__info-p2 {
  font-size: 15px;
  margin-bottom: 20px;
}
.info__contacts {
  margin-top: 20px;
}
.info__contacts strong {
  color: rgb(2, 51, 73);
  font-size: 20px;
  
}
.info__contacts p {
  margin-top: 5px;
  font-size: 18px;
}
.info__contacts .col-6 {
  margin: 10px 0;
}
/* Contact Page */
.contact {
  padding: 70px 0;
  background: rgb(44, 120, 150);
    
}
.justifyCenter {
  justify-content: center;
}
.contactSection-heading h1 {
  margin-bottom: 20px;
  text-align: center;
  color:  rgb(2, 51, 73);
}
.contactSection-heading h3 {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  color:  rgb(2, 51, 73);
  
}
.contactSection p {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgb(207, 192, 192);
  text-align: center;
  line-height: 22px;

}
.col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    
}
.adjust {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.address {
  padding: 20px;
  padding-left: 20px;
  border-radius: 6px;
  background: rgb(2, 51, 73);
  margin: 10px;
  width: 300px;
  margin-left: 20px;
  
}


.address span {
  font-weight: bold;
  position: relative;
  font-size: 15px;
  top: -10px;
  color: #fff;
  left: 10px;
    
    
}
.address i {
  font-size: 25px;
  color: red;
}
.address p {
    margin-bottom: 0;
    color: #fff;
    margin-left: -70px;
    font-size: 14px;

}

.col-lg-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-right: 225px;
}

.toggle {
   position: fixed;
   top: 25px;
   right: 5px;
   color: #fff;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   margin-left: 900px;
   display: none;
   cursor: pointer;
  
}
@media (max-width: 765px) {
  .container {
    width: 100%;
    padding: 20px 0;
  }
  .col-6 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .navbar__left- h1{
    padding-bottom: 50px;
  }
  .navbar__right {
    flex-direction: column;
    width: 50%;
    align-items: center;
    background: rgb(0,0,0,0.33);
    position: fixed;
    top: 50px;
    left: 200px;
  }
  .navbar__right li a{
    display: block;
    padding: 15px 0;
    font-size: 16px;
  }
.toggle {
  display: flex;
 }
 .navbar__right li a:hover {
  color: black;
}
.type-heading {
  font-size: 18px;
  margin-left: -60px;
  margin-top: -100px;
 }
 


.banner__img img {
  display: none;
}
.services__box{
  padding: 50px;
  
}
.services__box-header{
   font-size: 18px;
   margin-left: -25px;
}
.commonIcons{
  font-size: 30px;
  padding-top: 20px;
  margin-left: -25px;
}
.services__box-p{
  margin-left: -25px;
}
.common {
  width: 100%;
}
.h-123 {
  height: auto;
}

.contactSection p {
  font-size: 14px;
  align-items: center;
  justify-content: center;
  line-height: 18px;
}
.address {
  width: 300px;
  margin-bottom: 10px;
}
.adjust {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.address p {
  margin-left: -120px;
}
.about__img {
  padding-left: 30px;
}

.projects {
  padding-right: 30px;
}


.logo-box{
  flex-direction: column;
}
.logo-img {
  margin-top: 15px;
}
}
 
